{% extends 'main.html' %}
{% block content %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('assets/img/contact-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>{{ request.user.profile.username|title }}</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="my-5">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert {{ message.extra_tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                    {% endif %}

                    <form id="profileForm" action="{% url 'users:profile-edit' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-floating">
                            <div class="mb-3">
                                <img src="{{ request.user.profile.profile_image.url }}" class="img-thumbnail" alt="Profile avatar">
                            </div>
                        </br>
                        <div class="mb-3">
                            {{ form.profile_image.errors }}
                            <label for="{{ form.profile_image.label }}" class="form-label">Change your avatar</label>
                            <input class="form-control" type="file" id="{{ form.profile_image.label }}" name="profile_image">
                          </div>
                        <br />
                        </div>
                        <div class="form-floating">
                            {{ form.name.errors }}
                            <input class="form-control" type="text" required="required" id="{{ form.name.label }}" placeholder="" value="{{ form.name.value }}" name='name'/>
                            <label for="{{ form.name.label }}">{{ form.name.label }}</label>
                        </div>
                        <div class="form-floating">
                            {{ form.short_info.errors }}
                            <input class="form-control" type="text" autofocus="autofocus" required="required" id="{{ form.short_info.label }}" placeholder="" value="{{ form.short_info.value }}" name='short_info'/>
                            <label for="{{ form.short_info.label }}">{{ form.short_info.label }}</label>
                        </div>
                        <div class="form-floating">
                            {{ form.interests_info.errors }}
                            <input class="form-control" type="text" required="required" placeholder="{{ form.interests_info.label }}" value="{{ form.interests_info.value }}" name="interests_info"/>
                            <label for="{{ form.interests_info.label }}">{{ form.interests_info.label }}</label>
                        </div>
                        <!-- Submit Button-->
                        <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Change Profile</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
